- **Nama:** Rahmat Hidayat
- **Email:** yamato.open.wano@gmail.com
- **ID Dicoding:** baakanides

### **Import dan install library yang di perlukan**

In [1]:
!pip install google-play-scraper

Collecting google-play-scraper
  Downloading google_play_scraper-1.2.7-py3-none-any.whl.metadata (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.2/50.2 kB 3.4 MB/s eta 0:00:00
Downloading google_play_scraper-1.2.7-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.7

In [2]:
from google_play_scraper import app, reviews_all, reviews, Sort
import pandas as pd

### **scraping data dari ulasan aplikasi game mobile lagend**

In [3]:
#melakukan 3x scraping  untuk 3 score berbeda agar lebih merata
scrapreview_score_5 = reviews(
    'com.mobile.legends',
    lang='id',
    country='id',
    sort=Sort.MOST_RELEVANT,
    count=10000,
    filter_score_with=5
)
scrapreview_score_3 = reviews(
    'com.mobile.legends',
    lang='id',
    country='id',
    sort=Sort.MOST_RELEVANT,
    count=10000,
    filter_score_with=3
)
scrapreview_score_1 = reviews(
    'com.mobile.legends',
    lang='id',
    country='id',
    sort=Sort.MOST_RELEVANT,
    count=10000,
    filter_score_with=1
)

scrapreview = scrapreview_score_5[0] + scrapreview_score_3[0] + scrapreview_score_1[0]

### **Menyimpan hasil data scraping ke file csv**

In [4]:
df = pd.DataFrame(scrapreview)

# Menyimpan DataFrame ke file CSV
df.to_csv('mobile_legend.csv', index=False)

In [5]:
#mengecek jumblah hasil data berdasarkan score
df['score'].value_counts()

score
5    10000
3    10000
1    10000
Name: count, dtype: int64